In [1]:
import finplot as fplt
import pandas as pd

In [2]:
symbol = "AAPL"
df = pd.read_csv(f"{symbol}.csv")

In [3]:
df = df.rename(columns={'Date':'time', 'Open':'open', 'Close':'close', 'High':'high', 
                        'Low':'low', 'Volume':'volume', 'Adj Close':'adj_close'})

In [4]:
df = df.astype({'time':'datetime64[ns]'})

In [5]:
df['ma15']  = df['close'].rolling(15).mean()
df['ma50']  = df['close'].rolling(50).mean()
df['ma200'] = df['close'].rolling(200).mean()

In [6]:
df

,time,open,high,low,close,adj_close,volume,ma15,ma50,ma200
0,2015-01-02,27.847500,27.860001,26.837500,27.332500,24.898552,212818400,NaN,NaN,NaN
1,2015-01-05,27.072500,27.162500,26.352501,26.562500,24.197117,257142000,NaN,NaN,NaN
2,2015-01-06,26.635000,26.857500,26.157499,26.565001,24.199400,263188400,NaN,NaN,NaN
3,2015-01-07,26.799999,27.049999,26.674999,26.937500,24.538729,160423600,NaN,NaN,NaN
4,2015-01-08,27.307501,28.037500,27.174999,27.972500,25.481558,237458000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1500,2020-12-16,127.410004,128.369995,126.559998,127.809998,127.809998,98208600,122.379333,118.4432,97.338137
1501,2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800,123.224000,118.7156,97.615487
1502,2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500,123.895333,118.9494,97.887500
1503,2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600,124.507333,119.1746,98.195937
1504,2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800,125.118000,119.3242,98.498662

In [7]:
import datetime
df2 = df[df['time'] > datetime.datetime(2019,12,1)]

In [8]:
df2

,time,open,high,low,close,adj_close,volume,ma15,ma50,ma200
1237,2019-12-02,66.817497,67.062500,65.862503,66.040001,65.474564,94487200,66.121834,61.23135,52.276088
1238,2019-12-03,64.577499,64.882500,64.072502,64.862503,64.307152,114430400,66.076001,61.43500,52.386738
1239,2019-12-04,65.267502,65.827499,65.169998,65.434998,64.874741,67181600,66.072334,61.65530,52.498875
1240,2019-12-05,65.947502,66.472504,65.682503,66.394997,65.826523,74424400,66.090834,61.87805,52.617025
1241,2019-12-06,66.870003,67.750000,66.824997,67.677498,67.098030,106075600,66.225334,62.13215,52.739200
...,...,...,...,...,...,...,...,...,...,...
1500,2020-12-16,127.410004,128.369995,126.559998,127.809998,127.809998,98208600,122.379333,118.44320,97.338137
1501,2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800,123.224000,118.71560,97.615487
1502,2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500,123.895333,118.94940,97.887500
1503,2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600,124.507333,119.17460,98.195937
1504,2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800,125.118000,119.32420,98.498662

In [9]:
df2.to_csv(f"{symbol}-ta.csv", index=False)

In [10]:
df = pd.read_csv(f"{symbol}-ta.csv")
df = df.astype({'time':'datetime64[ns]'})

In [11]:
df

,time,open,high,low,close,adj_close,volume,ma15,ma50,ma200
0,2019-12-02,66.817497,67.062500,65.862503,66.040001,65.474564,94487200,66.121834,61.23135,52.276088
1,2019-12-03,64.577499,64.882500,64.072502,64.862503,64.307152,114430400,66.076001,61.43500,52.386738
2,2019-12-04,65.267502,65.827499,65.169998,65.434998,64.874741,67181600,66.072334,61.65530,52.498875
3,2019-12-05,65.947502,66.472504,65.682503,66.394997,65.826523,74424400,66.090834,61.87805,52.617025
4,2019-12-06,66.870003,67.750000,66.824997,67.677498,67.098030,106075600,66.225334,62.13215,52.739200
...,...,...,...,...,...,...,...,...,...,...
263,2020-12-16,127.410004,128.369995,126.559998,127.809998,127.809998,98208600,122.379333,118.44320,97.338137
264,2020-12-17,128.899994,129.580002,128.039993,128.699997,128.699997,94359800,123.224000,118.71560,97.615487
265,2020-12-18,128.960007,129.100006,126.120003,126.660004,126.660004,192541500,123.895333,118.94940,97.887500
266,2020-12-21,125.019997,128.309998,123.449997,128.229996,128.229996,121251600,124.507333,119.17460,98.195937
267,2020-12-22,131.610001,134.410004,129.649994,131.880005,131.880005,168904800,125.118000,119.32420,98.498662

In [12]:
# create two axes
ax,ax2 = fplt.create_plot(symbol, rows=2)

In [13]:
# plot candle sticks
candles = df[['time','open','close','high','low']]
fplt.candlestick_ochl(candles, ax=ax)

# put 3 MA on the close price
fplt.plot(df['time'], df['ma15'], ax=ax, legend='ma15')
fplt.plot(df['time'], df['ma50'], ax=ax, legend='ma50')
fplt.plot(df['time'], df['ma200'], ax=ax, legend='ma200')

# overlay volume on the top plot
volumes = df[['time','open','close','volume']]
fplt.volume_ocv(volumes, ax=ax.overlay())

In [14]:
# restore view (X-position and zoom) if we ever run this example again
fplt.autoviewrestore()

In [15]:
# we're done
fplt.show()