- [yfinance](https://pypi.org/project/yfinance/)

- [a tutorial](https://towardsdatascience.com/algorithmic-trading-with-macd-and-python-fef3d013e9f3)

In [1]:
import yfinance as yf

In [2]:
msft = yf.Ticker("MSFT")

In [3]:
# get stock info
msft.info

{'zip': '98052-6399',
 'sector': 'Technology',
 'fullTimeEmployees': 163000,
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, and OneDrive; LinkedIn that includes Talent, Learning, Sales, and Marketing solutions, as well as premium subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other intelligent devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'city': 'Redmond',
 'phone': '425-882-8080',
 'state': 'WA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.microsoft.com',
 'maxAge': 1,
 'address1': 'One Microsoft Way',
 'industry': 'Softwareâ€”Infrastructure',
 'previousClose': 202.91,
 'regularMarketOpen': 202.8,
 'twoHundredDayAverage': 188.66443,
 'trailingAnnualDividendYield': 0.010053718000000001,
 'payoutRatio': 0.34550000000000003,
 'volume24Hr': None,
 'regularMarketDayHigh': 203.65,
 'navPrice': None,
 'averageDailyVolume10Day': 35312400,
 'totalAssets': None,
 'regularMarketPreviousClose': 202.91,
 'fiftyDayAverage': 212.65114,
 'trailingAnnualDividendRate': 2.04,
 'open': 202.8,
 'toCurrency': None,
 'averageVolume10days': 35312400,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 2.24,
 'exDividendDate': 1605657600,
 'beta': 0.8935339999999999,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 196.25,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 34.78993,
 'regularMarketVolume': 55225326,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 1516481282048,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 35386770,
 'priceToSalesTrailing12Months': 10.603652,
 'dayLow': 196.25,
 'ask': 200.09,
 'ytdReturn': None,
 'askSize': 1300,
 'volume': 55225326,
 'fiftyTwoWeekHigh': 232.86,
 'forwardPE': 27.263947,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.83,
 'fiftyTwoWeekLow': 132.52,
 'bid': 200.05,
 'tradeable': False,
 'dividendYield': 0.011,
 'bidSize': 800,
 'dayHigh': 203.65,
 'exchange': 'NMS',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'messageBoardId': 'finmb_21835',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 10.416,
 'beta3Year': None,
 'profitMargins': 0.30962,
 'enterpriseToEbitda': 22.827,
 '52WeekChange': 0.44020414,
 'morningStarRiskRating': None,
 'forwardEps': 7.35,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 7567649792,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 15.626,
 'sharesShort': 36458662,
 'sharesPercentSharesOut': 0.0047999998,
 'fundFamily': None,
 'lastFiscalYearEnd': 1593475200,
 'heldPercentInstitutions': 0.7409300000000001,
 'netIncomeToCommon': 44280999936,
 'trailingEps': 5.76,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.10953009,
 'priceToBook': 12.824139,
 'heldPercentInsiders': 0.014249999000000001,
 'nextFiscalYearEnd': 1656547200,
 'mostRecentQuarter': 1593475200,
 'shortRatio': 1.08,
 'sharesShortPreviousMonthDate': 1596153600,
 'floatShares': 7455727348,
 'enterpriseValue': 1489646256128,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': -0.151,
 'dateShortInterest': 1598832000,
 'pegRatio': 2.07,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0049,
 'sharesShortPriorMonth': 36472205,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 202.8,
 'logo_url': 'https://logo.clearbit.com/microsoft.com'}

In [4]:
# get historical market data
hist = msft.history(period="max")

In [6]:
type(hist)

pandas.core.frame.DataFrame

In [7]:
hist.size

60914

In [5]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1986-03-13,0.06,0.06,0.06,0.06,1031788800,0.0,0.0
1986-03-14,0.06,0.07,0.06,0.06,308160000,0.0,0.0
1986-03-17,0.06,0.07,0.06,0.07,133171200,0.0,0.0
1986-03-18,0.07,0.07,0.06,0.06,67766400,0.0,0.0
1986-03-19,0.06,0.06,0.06,0.06,47894400,0.0,0.0
...,...,...,...,...,...,...,...
2020-09-14,204.24,209.20,204.03,205.41,30375800,0.0,0.0
2020-09-15,208.42,209.78,206.93,208.78,21823900,0.0,0.0
2020-09-16,210.62,210.65,204.64,205.05,26328100,0.0,0.0
2020-09-17,200.05,204.33,199.96,202.91,34011300,0.0,0.0
2020-09-18,202.80,203.65,196.25,200.39,55199500,0.0,0.0

In [8]:
# show actions (dividends, splits)
msft.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0
2020-02-19       0.51           0.0
2020-05-20       0.51           0.0
2020-08-19       0.51           0.0

[76 rows x 2 columns]

In [ ]:
# show dividends
msft.dividends

In [ ]:
# show splits
msft.splits

In [ ]:
# show financials
msft.financials
msft.quarterly_financials

# show major holders
stock.major_holders

# show institutional holders
stock.institutional_holders

# show balance heet
msft.balance_sheet
msft.quarterly_balance_sheet

# show cashflow
msft.cashflow
msft.quarterly_cashflow

# show earnings
msft.earnings
msft.quarterly_earnings

# show sustainability
msft.sustainability

# show analysts recommendations
msft.recommendations

# show next event (earnings, etc)
msft.calendar

In [ ]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

In [ ]:
# show options expirations
msft.options

# get option chain for specific expiration
opt = msft.option_chain('YYYY-MM-DD')
# data available via: opt.calls, opt.puts

### Multiple tickers

In [9]:
import yfinance as yf

tickers = yf.Tickers('msft aapl goog')
# ^ returns a named tuple of Ticker objects

In [10]:
# access each ticker using (example)
tickers.msft.info
tickers.aapl.history(period="1mo")
tickers.goog.actions

AttributeError: 'Tickers' object has no attribute 'msft'

In [11]:
tickers.symbols

['MSFT', 'AAPL', 'GOOG']

In [12]:
type(tickers)

yfinance.tickers.Tickers

In [15]:
tickers["AAPL"]

TypeError: 'Tickers' object is not subscriptable

In [20]:
tickers.history(period='1mo')

[*********************100%***********************]  3 of 3 completed

                 Close                          Dividends             \
                  AAPL         GOOG        MSFT      AAPL GOOG  MSFT
Date
2020-08-19  115.707497  1547.530029  209.699997         0    0  0.51
2020-08-20  118.275002  1581.750000  214.580002         0    0  0.00
2020-08-21  124.370003  1580.420044  213.020004         0    0  0.00
2020-08-24  125.857498  1588.199951  213.690002         0    0  0.00
2020-08-25  124.824997  1608.219971  216.470001         0    0  0.00
2020-08-26  126.522499  1652.380005  221.149994         0    0  0.00
2020-08-27  125.010002  1634.329956  226.580002         0    0  0.00
2020-08-28  124.807503  1644.410034  228.910004         0    0  0.00
2020-08-31  129.039993  1634.180054  225.529999         0    0  0.00
2020-09-01  134.179993  1660.709961  227.270004         0    0  0.00
2020-09-02  131.399994  1728.280029  231.649994         0    0  0.00
2020-09-03  120.879997  1641.839966  217.300003         0    0  0.00
2020-09-04  120.959999  1591.040039  214.250000         0    0  0.00
2020-09-08  112.820000  1532.390015  202.660004         0    0  0.00
2020-09-09  117.320000  1556.959961  211.289993         0    0  0.00
2020-09-10  113.489998  1532.020020  205.369995         0    0  0.00
2020-09-11  112.000000  1520.719971  204.029999         0    0  0.00
2020-09-14  115.360001  1519.280029  205.410004         0    0  0.00
2020-09-15  115.540001  1541.439941  208.779999         0    0  0.00
2020-09-16  112.129997  1520.900024  205.050003         0    0  0.00
2020-09-17  110.339996  1495.530029  202.910004         0    0  0.00
2020-09-18  106.839996  1459.989990  200.389999         0    0  0.00

                  High                                  Low  ...              \
                  AAPL         GOOG        MSFT        AAPL  ...        MSFT
Date                                                         ...
2020-08-19  117.162498  1573.680054  212.100006  115.610001  ...  209.250000
2020-08-20  118.392502  1585.869995  215.000000  115.732498  ...  208.910004
2020-08-21  124.867500  1597.719971  216.250000  119.250000  ...  212.850006
2020-08-24  128.785004  1614.170044  215.520004  123.937500  ...  212.429993
2020-08-25  125.180000  1611.619995  216.610001  123.052498  ...  213.100006
2020-08-26  126.992500  1659.219971  222.089996  125.082497  ...  217.360001
2020-08-27  127.485001  1655.000000  231.149994  123.832497  ...  219.399994
2020-08-28  126.442497  1647.170044  230.639999  124.577499  ...  226.580002
2020-08-31  131.000000  1647.964966  228.699997  126.000000  ...  224.309998
2020-09-01  134.800003  1665.729980  227.449997  130.529999  ...  224.429993
2020-09-02  137.979996  1733.180054  232.860001  127.000000  ...  227.350006
2020-09-03  128.839996  1709.713989  229.309998  120.500000  ...  214.960007
2020-09-04  123.699997  1645.109985  218.360001  110.889999  ...  205.190002
2020-09-08  118.989998  1563.864990  210.029999  112.680000  ...  202.199997
2020-09-09  119.139999  1569.000000  214.839996  115.260002  ...  206.699997
2020-09-10  120.500000  1584.081055  214.740005  112.500000  ...  204.110001
2020-09-11  115.230003  1575.199951  208.630005  110.000000  ...  201.240005
2020-09-14  115.930000  1564.000000  209.199997  112.800003  ...  204.029999
2020-09-15  118.830002  1559.569946  209.779999  113.610001  ...  206.929993
2020-09-16  116.000000  1562.000000  210.649994  112.040001  ...  204.639999
2020-09-17  112.199997  1508.297974  204.330002  108.709999  ...  199.960007
2020-09-18  110.879997  1503.003052  203.649994  106.089996  ...  196.250000

                  Open                          Stock Splits            \
                  AAPL         GOOG        MSFT         AAPL GOOG MSFT
Date
2020-08-19  115.982498  1553.310059  211.490005          0.0    0    0
2020-08-20  115.750000  1543.449951  209.539993          0.0    0    0
2020-08-21  119.262497  1577.030029  213.860001          0.0    0    0
2020-08-24  128.697495  1593.979980  214.789993          0.0    0    0
2020-08-25  124.697502  1582.069946  213.100006          0.0    0    0
2020-08-26  126.180000  1608.000000  217.880005          0.0    0    0
2020-08-27  127.142502  1653.680054  222.889999          0.0    0    0
2020-08-28  126.012497  1633.489990  228.179993          0.0    0    0
2020-08-31  127.580002  1647.890015  227.000000          4.0    0    0
2020-09-01  132.759995  1636.630005  225.509995          0.0    0    0
2020-09-02  137.589996  1673.775024  227.970001          0.0    0    0
2020-09-03  126.910004  1709.713989  229.270004          0.0    0    0
2020-09-04  120.070000  1624.260010  215.100006          0.0    0    0
2020-09-08  113.949997  1533.510010  206.500000          0.0    0    0
2020-09-09  117.260002  1557.530029  207.600006          0.0    0    0
2020-09-10  120.360001  1560.640015  213.399994          0.0    0    0
2020-09-11  114.570000  1536.000000  207.199997          0.0    0    0
2020-09-14  114.720001  1539.005005  204.240005          0.0    0    0
2020-09-15  118.330002  1536.000000  208.419998          0.0    0    0
2020-09-16  115.230003  1555.540039  210.619995          0.0    0    0
2020-09-17  109.720001  1496.000000  200.050003          0.0    0    0
2020-09-18  110.400002  1498.010010  202.800003          0.0    0    0

               Volume
                 AAPL     GOOG      MSFT
Date
2020-08-19  145538000  1660600  27627600
2020-08-20  126907200  1706900  26981500
2020-08-21  338054800  1446500  36249300
2020-08-24  345937600  1409900  25460100
2020-08-25  211495600  2247100  23043700
2020-08-26  163022400  3993400  39600800
2020-08-27  155552400  1861600  57602200
2020-08-28  187630000  1499800  26292900
2020-08-31  225702700  1823400  28774200
2020-09-01  152470100  1826700  25791200
2020-09-02  200119000  2511200  34080800
2020-09-03  257599600  3107800  58400300
2020-09-04  332607200  2608600  59664100
2020-09-08  231366600  2610900  52924300
2020-09-09  176940500  1774700  45679000
2020-09-10  182274400  1618600  35461500
2020-09-11  180860300  1597100  33620100
2020-09-14  140150100  1696600  30375800
2020-09-15  184642000  1331100  21823900
2020-09-16  154679000  1311700  26328100
2020-09-17  178011000  1879800  34011300
2020-09-18  286693600  3101800  55199500

[22 rows x 21 columns]

In [31]:
data0 = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  2 of 2 completed

In [32]:
type(data0)

pandas.core.frame.DataFrame

In [33]:
data0.head()

            Adj Close                  Close                   High  \
                 AAPL         SPY       AAPL         SPY       AAPL
Date
2017-01-03  27.548414  209.785889  29.037500  225.240005  29.082500
2017-01-04  27.517582  211.033981  29.004999  226.580002  29.127501
2017-01-05  27.657520  210.866318  29.152500  226.399994  29.215000
2017-01-06  27.965857  211.620728  29.477501  227.210007  29.540001
2017-01-09  28.222006  210.922211  29.747499  226.460007  29.857500

                              Low                   Open              \
                   SPY       AAPL         SPY       AAPL         SPY
Date
2017-01-03  225.830002  28.690001  223.880005  28.950001  225.039993
2017-01-04  226.750000  28.937500  225.610001  28.962500  225.619995
2017-01-05  226.580002  28.952499  225.479996  28.980000  226.270004
2017-01-06  227.750000  29.117500  225.899994  29.195000  226.529999
2017-01-09  227.070007  29.485001  226.419998  29.487499  226.910004

               Volume
                 AAPL       SPY
Date
2017-01-03  115127600  91366500
2017-01-04   84472400  78744400
2017-01-05   88774400  78379000
2017-01-06  127007600  71559900
2017-01-09  134247600  46939700

In [37]:
dd = data0.to_dict()

In [38]:
type(dd)

dict

In [39]:
dd.keys()

dict_keys([('Adj Close', 'AAPL'), ('Adj Close', 'SPY'), ('Close', 'AAPL'), ('Close', 'SPY'), ('High', 'AAPL'), ('High', 'SPY'), ('Low', 'AAPL'), ('Low', 'SPY'), ('Open', 'AAPL'), ('Open', 'SPY'), ('Volume', 'AAPL'), ('Volume', 'SPY')])

In [42]:
type(dd[('Adj Close', 'AAPL')])

dict

In [45]:
import pandas as pd
from pandas import Timestamp

In [49]:
dd[('Adj Close','AAPL')][Timestamp('2017-01-03 00:00:00')]

27.54841423034668

In [50]:
dd[('Close','AAPL')][Timestamp('2017-01-03 00:00:00')]

29.037500381469727

In [25]:
from pandas_datareader import data as pdr

In [26]:
import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

In [27]:
# download dataframe
data = pdr.get_data_yahoo("QQQ", start="2019-01-01", end="2019-04-30")

[*********************100%***********************]  1 of 1 completed

In [28]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,150.990005,155.750000,150.880005,154.880005,153.021332,58576700
2019-01-03,152.600006,153.259995,149.490005,149.820007,148.022064,74820200
2019-01-04,152.339996,157.000000,151.740005,156.229996,154.355118,74709300
2019-01-07,156.619995,158.860001,156.110001,158.089996,156.192795,52059300
2019-01-08,159.539993,160.110001,157.199997,159.520004,157.605637,49388700
...,...,...,...,...,...,...
2019-04-23,188.399994,190.539993,188.130005,190.309998,188.368332,33665600
2019-04-24,190.470001,190.710007,189.649994,189.710007,187.774460,24977100
2019-04-25,191.130005,191.220001,189.449997,190.479996,188.536591,29517500
2019-04-26,190.179993,190.690002,188.589996,190.649994,188.704849,26359500
2019-04-29,190.649994,191.320007,190.339996,191.020004,189.071091,21716200

In [29]:
data2 = pdr.get_data_yahoo("CYDY", start="2019-01-01", end="2020-10-30")

[*********************100%***********************]  1 of 1 completed

In [30]:
data2

            Open  High   Low  Close  Adj Close   Volume
Date
2019-01-02  0.48  0.48  0.46   0.48       0.48   120500
2019-01-03  0.49  0.54  0.49   0.53       0.53   192100
2019-01-04  0.55  0.56  0.52   0.54       0.54   141100
2019-01-07  0.56  0.58  0.54   0.57       0.57   311200
2019-01-08  0.59  0.59  0.57   0.57       0.57   332800
...          ...   ...   ...    ...        ...      ...
2020-09-14  3.95  4.22  3.68   4.12       4.12  3061200
2020-09-15  4.12  4.12  3.91   4.09       4.09  2530800
2020-09-16  4.15  4.27  4.00   4.03       4.03  2303800
2020-09-17  3.23  3.47  3.06   3.42       3.42  8768900
2020-09-18  3.51  3.56  3.37   3.55       3.55  2376200

[433 rows x 6 columns]

## [Algorithmic Trading with MACD and Python](https://towardsdatascience.com/algorithmic-trading-with-macd-and-python-fef3d013e9f3)

` $ pip install ta`

https://github.com/bukosabino/ta

In [51]:
import yfinance
import talib
from matplotlib import pyplot as plt

ModuleNotFoundError: No module named 'talib'