## Reading data from Pandas DataFrame or Numpy array

- https://pola-rs.github.io/polars/py-polars/html/reference/functions.html#conversion

In [2]:
import polars as pl
import pandas as pd
# to enrich the examples in this quickstart with dates
from datetime import datetime, timedelta 
# to generate data for the examples
import numpy as np

In [3]:
file_csv = "data/yahoofinance-SPY-20080101-20180101.csv"

In [4]:
df = pd.read_csv(file_csv, parse_dates=True)

In [5]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2007-12-31,147.100006,147.610001,146.059998,146.210007,118.624741,108126800
1,2008-01-02,146.529999,146.990005,143.880005,144.929993,117.586205,204935600
2,2008-01-03,144.910004,145.490005,144.070007,144.860001,117.529449,125133300
3,2008-01-04,143.339996,143.440002,140.910004,141.309998,114.649185,232330900
4,2008-01-07,141.809998,142.229996,140.100006,141.190002,114.551826,234991000
...,...,...,...,...,...,...,...
2514,2017-12-22,267.600006,267.640015,266.899994,267.510010,267.510010,78720900
2515,2017-12-26,267.049988,267.440002,266.890015,267.190002,267.190002,45244400
2516,2017-12-27,267.380005,267.730011,267.010010,267.320007,267.320007,57751000
2517,2017-12-28,267.890015,267.920013,267.450012,267.869995,267.869995,45116100
2518,2017-12-29,268.529999,268.549988,266.640015,266.859985,266.859985,96007400

In [6]:
type(df)

pandas.core.frame.DataFrame

In [8]:
# convert pandas dataframe to polars df
df_l = pl.from_pandas(df)

In [9]:
type(df_l)

polars.internals.dataframe.frame.DataFrame

In [10]:
df_l

shape: (2519, 7)
┌────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬───────────┐
│ Date       ┆ Open       ┆ High       ┆ Low        ┆ Close      ┆ Adj Close  ┆ Volume    │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---       │
│ str        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ i64       │
╞════════════╪════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╡
│ 2007-12-31 ┆ 147.100006 ┆ 147.610001 ┆ 146.059998 ┆ 146.210007 ┆ 118.624741 ┆ 108126800 │
│ 2008-01-02 ┆ 146.529999 ┆ 146.990005 ┆ 143.880005 ┆ 144.929993 ┆ 117.586205 ┆ 204935600 │
│ 2008-01-03 ┆ 144.910004 ┆ 145.490005 ┆ 144.070007 ┆ 144.860001 ┆ 117.529449 ┆ 125133300 │
│ 2008-01-04 ┆ 143.339996 ┆ 143.440002 ┆ 140.910004 ┆ 141.309998 ┆ 114.649185 ┆ 232330900 │
│ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...        ┆ ...       │
│ 2017-12-26 ┆ 267.049988 ┆ 267.440002 ┆ 266.890015 ┆ 267.190002 ┆ 267.190002 ┆ 45244400  │
│ 2017-12-27 ┆ 267.380005 ┆ 267.730011 ┆ 267.01001  ┆ 267.320007 ┆ 267.320007 ┆ 57751000  │
│ 2017-12-28 ┆ 267.890015 ┆ 267.920013 ┆ 267.450012 ┆ 267.869995 ┆ 267.869995 ┆ 45116100  │
│ 2017-12-29 ┆ 268.529999 ┆ 268.549988 ┆ 266.640015 ┆ 266.859985 ┆ 266.859985 ┆ 96007400  │
└────────────┴────────────┴────────────┴────────────┴────────────┴────────────┴───────────┘