https://github.com/pola-rs/


https://www.ritchievink.com/blog/2021/02/28/i-wrote-one-of-the-fastest-dataframe-libraries/


https://www.kdnuggets.com/2020/12/rising-library-beating-pandas-performance.html

In [2]:
!pip install polars

Collecting polars
  Using cached polars-0.15.14-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.8 MB)
Requirement already satisfied: typing_extensions>=4.0.0; python_version < "3.10" in /home/wengong/.local/lib/python3.8/site-packages (from polars) (4.1.1)
Installing collected packages: polars
Successfully installed polars-0.15.14

In [3]:
import polars as pl
df = pl.DataFrame(
    {
        "A": [1, 2, 3, 4, 5],
        "fruits": ["banana", "banana", "apple", "apple", "banana"],
        "B": [5, 4, 3, 2, 1],
        "cars": ["beetle", "audi", "beetle", "beetle", "beetle"],
    }
)

In [5]:
df.head()

shape: (5, 4)
┌─────┬────────┬─────┬────────┐
│ A   ┆ fruits ┆ B   ┆ cars   │
│ --- ┆ ---    ┆ --- ┆ ---    │
│ i64 ┆ str    ┆ i64 ┆ str    │
╞═════╪════════╪═════╪════════╡
│ 1   ┆ banana ┆ 5   ┆ beetle │
│ 2   ┆ banana ┆ 4   ┆ audi   │
│ 3   ┆ apple  ┆ 3   ┆ beetle │
│ 4   ┆ apple  ┆ 2   ┆ beetle │
│ 5   ┆ banana ┆ 1   ┆ beetle │
└─────┴────────┴─────┴────────┘

In [6]:
# embarrassingly parallel execution & very expressive query language
df.sort("fruits").select(
     [
         "fruits",
         "cars",
         pl.lit("fruits").alias("literal_string_fruits"),
         pl.col("B").filter(pl.col("cars") == "beetle").sum(),
         pl.col("A").filter(pl.col("B") > 2).sum().over("cars").alias("sum_A_by_cars"),
         pl.col("A").sum().over("fruits").alias("sum_A_by_fruits"),
         pl.col("A").reverse().over("fruits").alias("rev_A_by_fruits"),
         pl.col("A").sort_by("B").over("fruits").alias("sort_A_by_B_by_fruits"),
     ]
 )

shape: (5, 8)
┌────────┬────────┬────────────┬─────┬────────────┬────────────┬────────────┬────────────┐
│ fruits ┆ cars   ┆ literal_st ┆ B   ┆ sum_A_by_c ┆ sum_A_by_f ┆ rev_A_by_f ┆ sort_A_by_ │
│ ---    ┆ ---    ┆ ring_fruit ┆ --- ┆ ars        ┆ ruits      ┆ ruits      ┆ B_by_fruit │
│ str    ┆ str    ┆ s          ┆ i64 ┆ ---        ┆ ---        ┆ ---        ┆ s          │
│        ┆        ┆ ---        ┆     ┆ i64        ┆ i64        ┆ i64        ┆ ---        │
│        ┆        ┆ str        ┆     ┆            ┆            ┆            ┆ i64        │
╞════════╪════════╪════════════╪═════╪════════════╪════════════╪════════════╪════════════╡
│ apple  ┆ beetle ┆ fruits     ┆ 11  ┆ 4          ┆ 7          ┆ 4          ┆ 4          │
│ apple  ┆ beetle ┆ fruits     ┆ 11  ┆ 4          ┆ 7          ┆ 3          ┆ 3          │
│ banana ┆ beetle ┆ fruits     ┆ 11  ┆ 4          ┆ 8          ┆ 5          ┆ 5          │
│ banana ┆ audi   ┆ fruits     ┆ 11  ┆ 2          ┆ 8          ┆ 2          ┆ 2          │
│ banana ┆ beetle ┆ fruits     ┆ 11  ┆ 4          ┆ 8          ┆ 1          ┆ 1          │
└────────┴────────┴────────────┴─────┴────────────┴────────────┴────────────┴────────────┘

shape: (5, 8)
┌──────────┬──────────┬──────────────┬─────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ fruits   ┆ cars     ┆ literal_stri ┆ B   ┆ sum_A_by_ca ┆ sum_A_by_fr ┆ rev_A_by_fr ┆ sort_A_by_B │
│ ---      ┆ ---      ┆ ng_fruits    ┆ --- ┆ rs          ┆ uits        ┆ uits        ┆ _by_fruits  │
│ str      ┆ str      ┆ ---          ┆ i64 ┆ ---         ┆ ---         ┆ ---         ┆ ---         │
│          ┆          ┆ str          ┆     ┆ i64         ┆ i64         ┆ i64         ┆ i64         │
╞══════════╪══════════╪══════════════╪═════╪═════════════╪═════════════╪═════════════╪═════════════╡
│ "apple"  ┆ "beetle" ┆ "fruits"     ┆ 11  ┆ 4           ┆ 7           ┆ 4           ┆ 4           │
│ "apple"  ┆ "beetle" ┆ "fruits"     ┆ 11  ┆ 4           ┆ 7           ┆ 3           ┆ 3           │
│ "banana" ┆ "beetle" ┆ "fruits"     ┆ 11  ┆ 4           ┆ 8           ┆ 5           ┆ 5           │
│ "banana" ┆ "audi"   ┆ "fruits"     ┆ 11  ┆ 2           ┆ 8           ┆ 2           ┆ 2           │
│ "banana" ┆ "beetle" ┆ "fruits"     ┆ 11  ┆ 4           ┆ 8           ┆ 1           ┆ 1           │
└──────────┴──────────┴──────────────┴─────┴─────────────┴─────────────┴─────────────┴─────────────┘