In [1]:
import pandas as pd

In [2]:
# broken_df = pd.read_csv('../data/bikes.csv', encoding='utf-8', sep=';')
# error with reading .csv, use read_excel() instead

df1 = pd.read_excel('../data/bikes-2.xlsx', encoding='utf-8')

In [3]:
df1.columns, df1.shape

(Index(['Date', 'Berri 1', 'Brébeuf (données non disponibles)',
        'Côte-Sainte-Catherine', 'Maisonneuve 1', 'Maisonneuve 2', 'du Parc',
        'Pierre-Dupuy', 'Rachel1', 'St-Urbain (données non disponibles)'],
       dtype='object'), (310, 10))

In [4]:
df1.head()

,Date,Berri 1,Brébeuf (données non disponibles),Côte-Sainte-Catherine,Maisonneuve 1,Maisonneuve 2,du Parc,Pierre-Dupuy,Rachel1,St-Urbain (données non disponibles)
0,2012-01-01 00:00:00,35,NaN,0,38,51,26,10,16,NaN
1,2012-02-01 00:00:00,83,NaN,1,68,153,53,6,43,NaN
2,2012-03-01 00:00:00,135,NaN,2,104,248,89,3,58,NaN
3,2012-04-01 00:00:00,144,NaN,1,116,318,111,8,61,NaN
4,2012-05-01 00:00:00,197,NaN,2,124,330,97,13,95,NaN

In [5]:
df2 = pd.read_csv('../data/weather_2012.csv', encoding='utf-8', sep=',')

In [6]:
df2.columns, df2.shape

(Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
        'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
       dtype='object'), (8784, 8))

In [7]:
df2.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [8]:
df = pd.read_csv('../data/311-service-requests.csv', encoding='utf-8', sep=',')

/home/gong/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.columns, df.shape

(Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
        'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
        'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
        'Intersection Street 1', 'Intersection Street 2', 'Address Type',
        'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
        'Resolution Action Updated Date', 'Community Board', 'Borough',
        'X Coordinate (State Plane)', 'Y Coordinate (State Plane)',
        'Park Facility Name', 'Park Borough', 'School Name', 'School Number',
        'School Region', 'School Code', 'School Phone Number', 'School Address',
        'School City', 'School State', 'School Zip', 'School Not Found',
        'School or Citywide Complaint', 'Vehicle Type', 'Taxi Company Borough',
        'Taxi Pick Up Location', 'Bridge Highway Name',
        'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
        'Garage Lot Name', 'Ferry Direction', 'Ferry Terminal Name', 'Latitude',
        'Longitude', 'Location'],
       dtype='object'), (111069, 52))

In [10]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Garage Lot Name,Ferry Direction,Ferry Terminal Name,Latitude,Longitude,Location
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432,90-03 169 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.708275,-73.791604,"(40.70827532593202, -73.79160395779721)"
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378,58 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.721041,-73.909453,"(40.721040535628305, -73.90945306791765)"
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032,4060 BROADWAY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.843330,-73.939144,"(40.84332975466513, -73.93914371913482)"
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023,WEST 72 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778009,-73.980213,"(40.7780087446372, -73.98021349023975)"
4,26590930,10/31/2013 01:53:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Rodent,Condition Attracting Rodents,Vacant Lot,10027,WEST 124 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.807691,-73.947387,"(40.80769092704951, -73.94738703491433)"

see Chapter 9 for reading/writing data with Databases (sqlite,MySQL, Postgres)