## No good
- https://github.com/Nasdaq/data-link-python/#local-api-key-environment-variable
- https://docs.data.nasdaq.com/

## Working
- https://towardsdatascience.com/free-stock-data-for-python-using-yahoo-finance-api-9dafd96cad2e

In [1]:
import nasdaqdatalink

In [2]:
data = nasdaqdatalink.get_table('WIKI/PRICES', qopts = { 'columns': ['ticker', 'date', 'open', 'high', 'low', 'close', 'volume'] }, ticker = ['AAPL', 'MSFT'], date = { 'gte': '2022-03-15', 'lte': '2022-04-10' })

In [3]:
data

Empty DataFrame
Columns: [ticker, date, open, high, low, close, volume]
Index: []

In [4]:
data = nasdaqdatalink.get_table('WIKI/PRICES',ticker='AAPL')

In [5]:
data

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
None,,,,,,,,,,,,,,
0,AAPL,2018-03-27,173.68,175.15,166.92,168.340,38962839.0,0.0,1.0,173.680000,175.150000,166.920000,168.340000,38962839.0
1,AAPL,2018-03-26,168.07,173.10,166.44,172.770,36272617.0,0.0,1.0,168.070000,173.100000,166.440000,172.770000,36272617.0
2,AAPL,2018-03-23,168.39,169.92,164.94,164.940,40248954.0,0.0,1.0,168.390000,169.920000,164.940000,164.940000,40248954.0
3,AAPL,2018-03-22,170.00,172.68,168.60,168.845,41051076.0,0.0,1.0,170.000000,172.680000,168.600000,168.845000,41051076.0
4,AAPL,2018-03-21,175.04,175.09,171.26,171.270,35247358.0,0.0,1.0,175.040000,175.090000,171.260000,171.270000,35247358.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9395,AAPL,1980-12-18,26.63,26.75,26.63,26.630,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0
9396,AAPL,1980-12-17,25.87,26.00,25.87,25.870,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
9397,AAPL,1980-12-16,25.37,25.37,25.25,25.250,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
9398,AAPL,1980-12-15,27.38,27.38,27.25,27.250,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
9399,AAPL,1980-12-12,28.75,28.87,28.75,28.750,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0

In [6]:
data.columns

Index(['ticker', 'date', 'open', 'high', 'low', 'close', 'volume',
       'ex-dividend', 'split_ratio', 'adj_open', 'adj_high', 'adj_low',
       'adj_close', 'adj_volume'],
      dtype='object')

In [7]:
data[['ticker', 'date', 'open', 'high', 'low', 'close', 'volume']].to_csv("AAPL.csv", index=False)

In [8]:
!dir AAPL.csv

 Volume in drive C has no label.
 Volume Serial Number is 8A04-0EBD

 Directory of C:\Users\w_gon\projects\py4kids\lesson-21-fin

04/04/2022  10:31 PM           482,454 AAPL.csv
               1 File(s)        482,454 bytes
               0 Dir(s)  397,096,833,024 bytes free

In [9]:
import yfinance as yf
quotes = yf.download("SPY AAPL ORCL", start="2022-03-15", end="2022-04-15")

[*********************100%***********************]  3 of 3 completed

In [10]:
quotes

             Adj Close                              Close             \
                  AAPL       ORCL         SPY        AAPL       ORCL
Date
2022-03-15  155.089996  80.599998  424.850159  155.089996  80.599998
2022-03-16  159.589996  79.959999  434.270874  159.589996  79.959999
2022-03-17  160.619995  80.599998  439.704010  160.619995  80.599998
2022-03-18  163.979996  81.680000  444.519989  163.979996  81.680000
2022-03-21  165.380005  80.959999  444.390015  165.380005  80.959999
2022-03-22  168.820007  81.800003  449.589996  168.820007  81.800003
2022-03-23  170.210007  80.389999  443.799988  170.210007  80.389999
2022-03-24  174.070007  82.239998  450.489990  174.070007  82.239998
2022-03-25  174.720001  81.730003  452.690002  174.720001  81.730003
2022-03-28  175.600006  83.599998  455.910004  175.600006  83.599998
2022-03-29  178.960007  84.290001  461.549988  178.960007  84.290001
2022-03-30  177.770004  83.360001  458.700012  177.770004  83.360001
2022-03-31  174.610001  82.730003  451.640015  174.610001  82.730003
2022-04-01  174.309998  82.010002  452.920013  174.309998  82.010002
2022-04-04  178.440002  84.070000  456.799988  178.440002  84.070000

                              High                                Low  \
                   SPY        AAPL       ORCL         SPY        AAPL
Date
2022-03-15  426.170013  155.570007  81.540001  426.839996  150.380005
2022-03-16  435.619995  160.000000  81.230003  435.679993  154.460007
2022-03-17  441.070007  161.000000  81.290001  441.070007  157.630005
2022-03-18  444.519989  164.479996  81.989998  444.859985  159.759995
2022-03-21  444.390015  166.350006  81.980003  446.459991  163.009995
2022-03-22  449.589996  169.419998  82.230003  450.579987  164.910004
2022-03-23  443.799988  172.639999  81.410004  448.489990  167.649994
2022-03-24  450.489990  174.139999  82.820000  450.500000  170.210007
2022-03-25  452.690002  175.279999  82.839996  452.980011  172.750000
2022-03-28  455.910004  175.729996  83.709999  455.910004  172.000000
2022-03-29  461.549988  179.009995  84.510002  462.070007  176.339996
2022-03-30  458.700012  179.610001  84.360001  461.200012  176.699997
2022-03-31  451.640015  178.029999  83.910004  458.760010  174.399994
2022-04-01  452.920013  174.880005  83.360001  453.459991  171.940002
2022-04-04  456.799988  178.490005  84.300003  456.910004  174.440002

                                         Open                         \
                 ORCL         SPY        AAPL       ORCL         SPY
Date
2022-03-15  77.070000  418.420013  150.899994  78.050003  419.769989
2022-03-16  77.750000  424.799988  157.050003  81.000000  429.890015
2022-03-17  79.260002  433.190002  158.610001  79.779999  433.589996
2022-03-18  78.839996  437.220001  160.509995  79.629997  438.000000
2022-03-21  80.269997  440.679993  163.509995  81.279999  444.339996
2022-03-22  80.830002  445.859985  165.509995  81.459999  445.859985
2022-03-23  80.220001  443.709991  167.990005  81.250000  446.910004
2022-03-24  80.489998  444.760010  171.059998  80.650002  445.940002
2022-03-25  81.230003  448.429993  173.880005  82.040001  451.160004
2022-03-28  81.739998  450.059998  172.169998  81.739998  452.059998
2022-03-29  83.110001  457.179993  176.690002  84.489998  460.019989
2022-03-30  83.120003  456.470001  178.550003  83.959999  460.339996
2022-03-31  82.589996  451.160004  177.839996  83.110001  457.890015
2022-04-01  81.470001  449.140015  174.029999  83.040001  453.309998
2022-04-04  82.000000  452.260010  174.570007  82.250000  453.130005

               Volume
                 AAPL      ORCL        SPY
Date
2022-03-15   92964300  16847200  106219100
2022-03-16  102300200  14071300  144954800
2022-03-17   75615400  10462400  102676900
2022-03-18  123351200  24174200  106250400
2022-03-21   95811400   8131300   88349800
2022-03-22   81532000   9292300   74650400
2022-03-23   98062700   7451100   79426100
2022-03-24   90131400   7025700   64736900
2022-03-25   80546200   5682300   77101300
2022-03-28   90371900   6626700   68529800
2022-03-29  100589400   5762000   86581500
2022-03-30   92633200   5533100   79666900
2022-03-31  103049300   9433300  121699900
2022-04-01   78699800   6147100   89001500
2022-04-04   76468400   7882400   59432500