In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
from time import time
from datetime import datetime

In [2]:
df = pd.read_csv("nasdaq-100.csv", parse_dates=["Date"])

In [3]:
df.columns

Index(['Date', 'AAPL', 'ABNB', 'ADBE', 'ADI', 'ADP', 'ADSK', 'AEP', 'ALGN',
       'AMAT',
       ...
       'TSLA', 'TXN', 'VRSK', 'VRTX', 'WBA', 'WBD', 'WDAY', 'XEL', 'ZM', 'ZS'],
      dtype='object', length=102)

In [4]:
df

,Date,AAPL,ABNB,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,...,TSLA,TXN,VRSK,VRTX,WBA,WBD,WDAY,XEL,ZM,ZS
0,2010-01-04,6.515213,NaN,37.090000,23.067617,27.491213,25.670000,21.142138,18.500000,11.328530,...,NaN,18.767342,29.074842,44.240002,26.326170,15.840572,NaN,13.504492,NaN,NaN
1,2010-01-05,6.526476,NaN,37.700001,23.031200,27.343586,25.280001,20.900095,18.010000,11.241386,...,NaN,18.659109,29.269646,42.779999,26.114426,16.463976,NaN,13.344337,NaN,NaN
2,2010-01-06,6.422664,NaN,37.619999,22.987492,27.279402,25.340000,21.111885,17.480000,11.217624,...,NaN,18.522013,29.649517,42.029999,25.916811,16.709249,NaN,13.369962,NaN,NaN
3,2010-01-07,6.410792,NaN,36.889999,22.805407,27.266567,25.480000,21.293406,17.430000,11.098790,...,NaN,18.579731,29.600824,41.500000,26.072071,16.699030,NaN,13.312307,NaN,NaN
4,2010-01-08,6.453412,NaN,36.689999,22.936512,27.228046,26.260000,21.547552,17.660000,11.526584,...,NaN,19.005438,29.220943,40.669998,26.107370,16.750128,NaN,13.318710,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3267,2022-12-23,131.860001,85.250000,338.450012,163.839996,240.940002,188.160004,95.690002,203.669998,97.220001,...,123.150002,164.380005,175.610001,289.690002,38.630001,9.170000,164.639999,70.446365,65.889999,108.779999
3268,2022-12-27,130.029999,83.489998,335.089996,162.199997,241.029999,186.289993,96.290001,204.589996,95.339996,...,109.099998,163.779999,175.559998,287.320007,38.310001,9.230000,163.399994,71.082001,65.459999,107.570000
3269,2022-12-28,126.040001,82.489998,328.329987,160.279999,237.850006,181.899994,95.360001,201.580002,94.230003,...,112.709999,161.190002,174.229996,285.760010,37.580002,8.870000,162.990005,70.570000,65.360001,107.860001
3270,2022-12-29,129.610001,85.230003,337.579987,163.979996,240.619995,188.119995,96.010002,212.139999,97.139999,...,121.820000,165.020004,178.059998,289.079987,37.470001,9.430000,167.789993,71.070000,68.000000,111.870003
3271,2022-12-30,129.929993,85.500000,336.529999,164.029999,238.860001,186.869995,94.949997,210.899994,97.379997,...,123.180000,165.220001,176.419998,288.779999,37.360001,9.480000,167.330002,70.110001,67.739998,111.900002

In [5]:
df.set_index("Date", inplace=True)
df = df.dropna(axis=1)
# montly returns
mtl = (1+ df.pct_change())[1:].resample("M").prod()

In [6]:
mtl

,AAPL,ADBE,ADI,ADP,ADSK,AEP,ALGN,AMAT,AMD,AMGN,...,SGEN,SIRI,SNPS,TMUS,TXN,VRSK,VRTX,WBA,WBD,XEL
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-31,0.897435,0.870855,0.851279,0.952370,0.926763,0.991700,1.013514,0.851748,0.769072,1.013167,...,0.979127,1.292308,0.947861,0.706399,0.869486,0.942044,0.867993,0.966487,0.956774,0.985769
2010-02-28,1.065396,1.072755,1.084570,1.020104,1.171921,0.982246,0.965333,1.009773,1.060322,0.968023,...,0.988372,1.214285,1.029619,1.095915,1.083555,1.006401,1.055729,0.981576,1.050236,1.001443
2010-03-31,1.148470,1.020779,0.992336,1.077119,1.053802,1.016657,1.068508,1.100490,1.171934,1.057057,...,1.170588,0.852942,1.021461,1.147488,1.003692,0.996467,1.008140,1.052497,1.084751,1.030484
2010-04-30,1.111022,0.949958,1.038515,0.975264,1.156910,1.003511,0.879007,1.023014,0.978425,0.957721,...,1.055276,1.356321,1.012964,1.077684,1.067762,0.993617,0.948618,0.947695,1.146197,1.025943
2010-05-31,0.983875,0.954762,0.982144,0.942587,0.860841,0.943655,0.877647,0.942779,0.944873,0.903507,...,1.050000,0.872881,0.945278,1.178244,0.938870,1.079586,0.892185,0.915058,0.972373,0.942069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,0.968792,0.910563,0.885434,1.013645,0.932600,1.024625,0.867352,0.889890,0.898380,0.978526,...,0.857262,0.914671,0.941551,1.006291,0.923528,0.983758,1.004814,0.895423,0.882667,1.014621
2022-09-30,0.879023,0.736932,0.919554,0.929452,0.925944,0.862774,0.849856,0.870947,0.746554,0.937994,...,0.886837,0.937603,0.882926,0.931995,0.936868,0.912665,1.027612,0.895608,0.868580,0.867592
2022-10-31,1.109551,1.157340,1.023540,1.068571,1.147216,1.017004,0.938149,1.077627,0.947917,1.199423,...,0.929328,1.057793,0.957579,1.129612,1.046070,1.072128,1.077571,1.162420,1.130435,1.017344
2022-11-30,0.966973,1.082983,1.205371,1.092842,0.942370,1.111336,1.012146,1.244386,1.292541,1.066664,...,0.954624,1.078573,1.160622,0.999340,1.123451,1.004813,1.014103,1.150369,0.876923,1.078483
2022-12-31,0.877727,0.975647,0.958410,0.908675,0.925328,0.980888,1.072409,0.888504,0.834342,0.917039,...,1.058654,0.899846,0.940360,0.924336,0.915549,0.961932,0.912705,0.900241,0.831579,1.005288

In [30]:
# function for rolling performance
def get_rolling_ret(df,n):
    return df.rolling(n).apply(np.prod)

def get_top_10(mtl, date, N1=50, N2=30, N3=10):
    # montly returns
    #http://localhost:8888/notebooks/lesson-21-fin/pyfin/Untitled.ipynb?kernel_name=python3# 3 rolling returns: 12/6/3 months
    ret_12, ret_6, ret_3 = get_rolling_ret(mtl,12), get_rolling_ret(mtl,6), get_rolling_ret(mtl,3)
    top_50 = ret_12.loc[date].nlargest(N1).index
    top_30 = ret_6.loc[date, top_50].nlargest(N2).index
    top_10 = ret_3.loc[date, top_30].nlargest(N3).index
    return top_10

def pf_performance(mtl, date):
    portfolio = mtl.loc[date:, get_top_10(mtl, date)][1:2]
    return portfolio.mean(axis=1).values[0]

def port_perf(mtl, date):
    top_10 = get_top_10(mtl, date)
    portfolio = mtl.loc[date:, top_10][1:2]
    perf = portfolio.mean(axis=1).values[0]
    return [datetime.strftime(date, "%Y-%m-%d"), perf, top_10.tolist()]

In [20]:
date = "2010-12-31"

In [21]:
top_10 = get_top_10(mtl, date)
top_10

Index(['LULU', 'SIRI', 'BKR', 'FTNT', 'ILMN', 'AVGO', 'SBUX', 'ODFL', 'LRCX',
       'HON'],
      dtype='object')

Index(['LULU', 'SIRI', 'BKR', 'FTNT', 'ILMN', 'AVGO', 'SBUX', 'ODFL', 'LRCX',
       'HON'],
      dtype='object')

In [22]:
dates = mtl.index[11:-1]

In [23]:
dates

DatetimeIndex(['2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31',
               '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31',
               '2011-08-31', '2011-09-30',
               ...
               '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30',
               '2022-10-31', '2022-11-30'],
              dtype='datetime64[ns]', name='Date', length=144, freq='M')

### quick test

In [31]:
ts_start = time()
returns = []
for date in dates[:2]:
    returns.append(port_perf(mtl, date))
ts_stop = time()
print(f"completed in {ts_stop - ts_start} sec")
returns

completed in 13.914986610412598 sec

[['2010-12-31',
  1.0493933841821117,
  ['LULU',
   'SIRI',
   'BKR',
   'FTNT',
   'ILMN',
   'AVGO',
   'SBUX',
   'ODFL',
   'LRCX',
   'HON']],
 ['2011-01-31',
  1.0572835087294126,
  ['NVDA',
   'LULU',
   'BKR',
   'REGN',
   'FTNT',
   'AMAT',
   'ILMN',
   'ASML',
   'TMUS',
   'KLAC']]]

In [24]:
n = 0

In [33]:
n+=1
with open(f"returns-{n}.json", "w") as f:
    f.write(json.dumps(returns))

### backtest

In [15]:
import json

In [38]:
ts_start = time()
returns = []
for date in dates[:-1]:
#     returns.append([datetime.strftime(date, "%Y-%m-%d"), pf_performance(mtl, date)])
    returns.append(port_perf(mtl, date))
ts_stop = time()
print(f"completed {len(dates[:-1])} dates in {ts_stop - ts_start} sec")
n+=1
with open(f"returns-{n}.csv", "w") as f:
    f.write("date, return, top_10\n")
    for row in returns:
        top_10 = " ".join(row[2])
        f.write(f"{str(row[0])}, {row[1]}, {top_10}\n")
        
#     f.write(json.dumps(returns))

completed 143 dates in 1008.4109528064728 sec

completed 143 dates in 1096.7362880706787 sec